@tailwind base;
@tailwind components;
@tailwind utilities;

.main-right {
    height: 100vh;
    background-color: #F8FAFF;
    width: 100%;

}


.cursor-pointer p {
    display: none;
}

.cursor-pointer:hover p {
    display: block;
}

.left {
    height: 100vh;
    background: linear-gradient(180deg, #4285F4 0%, #286DE0 100%);
    width: 50%;
    clip-path: polygon(0% 0%, 60% 0%, 60% 0%, 100% 0%, 80% 100%, 60% 100%, 0% 100%);
}


.normal{
    width: 0%;
}


.signIn {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;

}

.bg-lg {
    background: linear-gradient(180deg, #4285F4 0%, #3C83F9 100%);

}


.no-blur {
    filter: none;
    /* Remove blur effect */
    /* Add other styles to control how the modal looks */
}